*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter';
}

:root{
    --theme-clr-accent: #A445ED;
    --background-clr: #F5F5F5;
    --border-clr: #f5f5f5;
    --font-clr: #000000;
    --theme-clr-accent-focus: #A445ED;
}

body{
    display: block;
}

header{
    margin-right: 27rem;
    margin-left: 26rem;
}

.settings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.75rem;
}

.fontSelection{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    border-right: 1px solid rgb(197, 197, 197);
    padding: 0.75rem;
}

#DropDownIMG{
    margin-right: 0.5rem;
}

.fontSelection:hover{
    cursor: pointer;
}

#activeFontUI{
    margin-right: 1.25rem;
    font-family: 'Inter';
}

#DropdownMenu{
    display: none;
    position: absolute;
    left: 50rem;
    margin-top: 2rem;
    background-color: var(--background-clr);
    width: 10rem;
    padding: 1rem;
    border: 2px solid var(--border-clr);
    border-radius: 8px;
}

.FontsDropDown{
    margin: 0.75rem;
}

.toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */

}

.slider:hover{
    background-color: var(--theme-clr-accent);
}
.moon:hover{
    filter: invert(34%) sepia(77%) saturate(2798%) hue-rotate(254deg) brightness(94%) contrast(99%);
}

/* Slider */
.switch{
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.25rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6a6a6a;
    -webkit-transition: .4s;
    transition: transform .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 0.85rem;
    width: 0.85rem;
    left: 3px;
    bottom: 3.5px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition:  .4s;
  }

  
  input:checked + .slider {
    background-color: var(--theme-clr-accent);
  }
  
  input:focus + .slider {
    box-shadow: none;
    outline: none;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 38px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.SearchBarClass{
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

#SearchWord{
    width: 100%;
    height: 4rem;
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--font-clr);
    border-radius: 1rem;
    border: 2px solid var(--border-clr);
    background-color: var(--background-clr);
}

#SearchWord:focus{
    border-color: var(--theme-clr-accent-focus);
    outline: none;
}

#SearchIcon{
    position: absolute;
    transform: translateX(-150%);
}

#SearchIcon:hover{
    cursor: pointer;
}

/* End of Header/Settings */

main{
    margin-right: 27rem;
    margin-left: 26rem;
}

.WordHeading-PlayButton{
    display: flex;
    justify-content: space-between;
    margin-top: 1.75rem;
}

#Word{
    font-size: 4rem;
}

.playAudio{
    margin-top: 1rem;
}

#Phonetics{
    color: var(--theme-clr-accent);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: -8px;
    margin-bottom: 2.25rem;
}


.noun{
    margin-bottom: 2.25rem;
}

.noun-heading{
    margin-bottom: 2.25rem;
    display: flex;
    align-items: center;
    gap: 2rem
}

.noun-name{
    font-style: italic;
    font-size: 1.5rem;
    font-weight: bold;
}

.line{
    flex-grow: 1;
    height: 1px;
    background-color: #cfcfcf; /* or your theme line color */
}

#meaningHead{
    font-weight: normal;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

ul{
    font-size: large;
    margin: 1rem;
}

li{
    margin-bottom: 1rem;
}

li::marker{
    color: var(--theme-clr-accent);
    font-size: medium;
}

#Sentence{
    color: #6a6a6a;
    font-weight: 500;
}

.verb{
    margin-bottom: 2.25rem;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.verb-heading{
    margin-bottom: 1.75rem;
    display: flex;
    align-items: center;
    gap: 2rem
}

.verb-name{
    font-style: italic;
    font-size: 1.5rem;
    font-weight: bold;
}

#Source{
    margin-bottom: 0.5rem;
}

a{
    color: var(--theme-clr-accent);
    text-decoration: none;
}

.redirectToSource{
    filter: invert(34%) sepia(77%) saturate(2798%) hue-rotate(254deg) brightness(94%) contrast(99%);
}

.redirectToSource:hover{
    cursor: pointer;
}

main{
    margin-bottom: 2rem;
}

.Developer{
    font-size: 0.75rem;
    text-align: center;
    color: #bcbcbc;
}

/* Dark Theme */
body.Dark-Theme
{
    background-color: #000000;
    color: white;
    --background-clr: #363636;
    --border-clr: #363636;
    --font-clr: #FFFFFF;
    --theme-clr-accent-focus: #FFFFFF;
}